@import "tailwindcss";

@custom-variant zelda (&:where(.zelda, .zelda *));
@custom-variant mario (&:where(.mario, .mario *));

/* Styles automatically applied to HTML elements. */
@layer base {
    button, select {
        @apply cursor-pointer;
    }

    h1 {
        @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl;
    }

    h2 {
        @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl;
    }

    h3 {
        @apply text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
    }

    h4 {
        @apply text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl;
    }
    
    h5 {
        @apply text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl;
    }

    h6 {
        @apply text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl;
    }

    p, ul {
        @apply text-base sm:text-lg md:text-xl lg:text-2xl;
    }

    section {
        @apply flex flex-col sm:p-6 md:p-8 lg:p-10 xl:p-12 2xl:p-14;
    }
}

/* CSS classes that are heavily resused or have greater complexity. */
@layer components {
    /* Applies text color based on theme. */
    .text-theme {
        @apply text-white;
        @variant mario {
            @apply text-black;
        }
    }

    /* Background color based on theme. Designed for elements with diverse content. */
    .bg-color-1 {
        @apply bg-gray-900;
        @variant mario {
            @apply bg-red-50 border-4 border-red-600;
        }
        @variant zelda {
            background: rgba(0, 0, 0, 0.4);
            border: rgba(185, 150, 88, 1) solid;
        }
    }

    /* Secondary background color; changes based on theme. */
    .bg-color-2 {
        @apply bg-gray-800 hover:bg-gray-700;
        @variant mario {
            @apply bg-red-600 hover:bg-red-500;
        }
        @variant zelda {
            background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/src/assets/golden-texture.png");
            background-position: center;
            @apply hover:bg-[url(/src/assets/golden-texture.png)];
        }
    }

    /* Third background color; changes based on theme. */
    .bg-color-3 {
        @apply bg-gray-700 hover:bg-gray-600;
        @variant mario {
            @apply bg-red-500 hover:bg-red-400;
        }
        @variant zelda {
            background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("/src/assets/golden-texture.png");
            background-position: center;
            @apply hover:bg-[url(/src/assets/golden-texture.png)];
        }
    }

    /* Sizing for larger icons | text for svg | size for img */
    .large-icon {
        @apply text-7xl sm:text-8xl md:text-9xl size-[4.5rem] sm:size-24 md:size-32;
    }

    /* Sizing for smaller icons | text for svg | size for img */
    .small-icon {
        @apply text-3xl sm:text-4xl md:text-5xl size-[1.875rem] sm:size-9 md:size-12;
    }

    /* Sets background to use an image based on the chosen theme. */
    .hero {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url("/src/assets/hero.jpg");
        background-position: center;
        @variant zelda {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/src/assets/oot.png");
            background-position: 65%;
        }
        @variant mario {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("/src/assets/mario-odyssey.jpg");
            background-position: 80%;
        }
    }

    /* Styling for external links in the Hero component. */
    .hero-links {
        @apply flex flex-col text-center items-center duration-300 ease-in-out font-bold p-2;
    }

    /* Sets background for everything under the Hero section. */
    .bg-body {
        @apply bg-black;
        @variant mario {
            background: url("/src/assets/map.jpg");
            background-size: cover;
            background-position: center;
        }
        @variant zelda {
            background-image: url(/src/assets/pattern-triforce.png), linear-gradient(to bottom, #023326 0%, #053335 50%, #0a1928 100%);
        }
    }
}

/* MUI classes that need to be altered. */
@layer utilities {
    .MuiMenu-paper {
        @apply rounded-2xl bg-black;
    }

    .MuiMenu-list {
        @apply pb-0 pt-0;
    }

    .MuiSelect-icon {
        @apply text-white;
    }

    .MuiFormControlLabel-label {
        @apply text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl;
    }

    .MuiSwitch-track {
        @apply bg-gray-500;
    }
}