@import "tailwindcss";

@custom-variant zelda (&:where(.zelda, .zelda *));
@custom-variant mario (&:where(.mario, .mario *));

/* Styles automatically applied to HTML elements. */
@layer base {
    html {
        @apply bg-black text-white;
    }

    button, select {
        @apply cursor-pointer;
    }

    h1 {
        @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl;
    }

    h2 {
        @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl;
    }

    h3 {
        @apply text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
    }

    h4 {
        @apply text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl;
    }
    
    h5 {
        @apply text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl;
    }

    h6 {
        @apply text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl;
    }

    p, ul {
        @apply text-base sm:text-lg md:text-xl lg:text-2xl;
    }

    section {
        @apply flex flex-col p-4 sm:p-6 md:p-8 lg:p-10 xl:p-12 2xl:p-14;
    }
}

@layer components {
    /* Sizing for larger svg icons */
    .large-icon {
        @apply text-7xl sm:text-8xl md:text-9xl;
    }

    /* Sizing for smaller svg icons */
    .small-icon {
        @apply text-3xl sm:text-4xl md:text-5xl;
    }

    /* Sets background to use an image based on the chosen theme. */
    .hero {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url("/src/assets/hero.jpg");
        background-position: center;
        @variant zelda {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url("/src/assets/oot.png");
            background-position: 65%;
        }
        @variant mario {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url("/src/assets/mario-odyssey.jpg");
            background-position: 80%;
        }
    }

    /* Styling for external links in the Hero component. */
    .hero-links {
        @apply flex flex-col text-center items-center duration-300 ease-in-out font-bold p-2;
    }
}

/* MUI classes that need to be altered. */
@layer utilities {
    .MuiMenu-paper {
        @apply bg-gray-700 rounded-2xl;
    }

    .MuiMenu-list {
        @apply pb-0 pt-0;
    }

    .MuiSelect-icon {
        @apply text-white;
    }
}
